.main{
	font-family: Verdana;
	font-size: 24;
	font-weight: bold;
	color: white;
	background-color: #DBCFB0;
}
.z1{
	font-family: Verdana;
	font-size: 14px;
	color: #804000;
	background-color: #E6DEC8;
}
.z2{
	font-family : Verdana;
	font-size: 14px;
	color: #804000;
	background-color: #F1EDE1
}